*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: slategray;
}

main{
    background-color: #F5F9FF;
    padding-bottom: 30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 80vw;
}

header{
    padding-top: 20px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#CBE2FE;
    border-bottom: solid #474f59;
    width: 100%;
}

div{
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    list-style-type: circle;
    width: 100%;
}

h1{
    color:#09164d;
}
.subtitle{
    width: 80vw;
    font-size: 18px;
    text-align: center;
}

h2{
    color: #10288c;
    margin-top: 20px;
}

img{
    border-radius: 5%;
    border: 2px solid black;
    height: 400px;
    width:fit-content;
    justify-content:center;
}

form{
    width: 30%;
    background-color: slategray;
    padding: 20px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
}

input{
    padding: 5px;
}
 
.submit-button{
    background-color: #09164d;
    color: #eaf3ff;
    font-weight: bold;
    font-size: 24px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

label{
    color:#eaf3ff;
    font-weight: bold;
}

p{
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
}

li{
    margin-top:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

@media (max-width: 800px) {
    div{ width: 80vw; margin: 10px;}
    img{ height: 300px;}
    .subtitle{ width:90vw;}
    h2{ margin-top: 10px;}
    form{ width: 50%;}
    main{ width: 90vw;}
}
@media (max-width: 600px) {
    div{ width: 90vw; margin: 10px;}
    img{ height: 150px;}
    p{ font-size: 14px;}
    h2{ margin-top: 5px;}
    form{ width: 80%;}
    ul{ flex-direction: column; align-items: center; columns: 2;}
    main{ width: 100vw;}
}